@model ContactTransferObject

@{
    ViewBag.Title = "修改联系方式";
}

@using (Ajax.BeginForm(new AjaxOptions { OnBegin = "begin", OnSuccess = "success" }))
{
    <div class="form-horizontal jumbotron">
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "请输入联系电话" })
                @Html.ValidationMessageFor(m => m.Phone, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">所在地区</label>
            <div class="col-sm-10">
                <div>
                    @*参考http://www.cnblogs.com/zjfree/p/3269864.html*@
                    <select class="form-control-static" name="province" id="province"></select>
                    <select class="form-control-static" name="city" id="city"></select>
                    <select class="form-control-static" name="district" id="district"></select>
                </div>
                @*@Html.DropDownList("Province")
                    @Html.DropDownList("City")
                    @Html.DropDownList("District")*@
                @*@Html.TextBoxFor(m => m.Province, new { @class = "hide" })
                    @Html.ValidationMessageFor(m => m.Province, string.Empty, new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.City, new { @class = "hide" })
                    @Html.ValidationMessageFor(m => m.City, string.Empty, new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.District, new { @class = "hide" })
                    @Html.ValidationMessageFor(m => m.District, null, new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "请输入详细地址" })
                @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                @Html.CheckBoxFor(m => m.IsByPost)
                @Html.LabelFor(m => m.IsByPost, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.IsByPost, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">提 交</button>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryuno")
    <script type="text/javascript" src="@Url.Content("~/scripts/tang.geo.js")"></script>
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: "" })

        var begin = function () {
            var province = $("#province");
            if (province.get(0).selectedIndex == -1 || province.get(0).selectedIndex == 0) {
                common.Error("请选择省份")
                return false;
            }
            var city = $("#city");
            if (city.get(0).selectedIndex == -1 || city.get(0).selectedIndex == 0) {
                common.Error("请选择市区")
                return false;
            }
            var district = $("#district");
            if (district.get(0).selectedIndex == -1 || district.get(0).selectedIndex == 0) {
                common.Error("请选择区/县")
                return false;
            }
            common.Loading("处理中...")
        }

        var success = function (data) {
            if (data) {
                if (data.result) {
                    common.Success(data.msg)
                    location = data.url;
                } else {
                    common.Error(data.msg)
                }
            }
        }

        function promptinfo() {
            var address = document.getElementById('address');
            var province = document.getElementById('province');
            var city = document.getElementById('city');
            var district = document.getElementById('district');
        }

        $(function () {
            setup();
        })
    </script>

    @if (Model != null)
    {
        <script type="text/javascript">
            $(function () {
                $("#province").val("@Model.Province")
                $("#province").trigger("change")
                $("#city").val("@Model.City")
                $("#city").trigger("change");
                $("#district").val("@Model.District")
            })
        </script>
    }
}
